.block_ {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_1 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-size: 1.5em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 34.8pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_2 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 15.8pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_3 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10.6pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-before: always;
  text-align: left;
  text-indent: 0;
}
.block_4 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 14.4pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_5 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 6.72pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_6 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 6.96pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_7 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_8 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 323pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-before: always;
  text-align: left;
  text-indent: 0;
}
.block_9 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-before: always;
  text-align: left;
  text-indent: 0;
}
.block_10 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10.6pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_11 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-before: always;
  text-align: left;
  text-indent: 0;
}
.block_12 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 34.8pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_13 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-size: 2.22222em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 15.1pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_14 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 12.7pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_15 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-size: 1.88889em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 11pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_16 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-family: 'Times New Roman', serif;
  font-size: 1.33333em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 17.8pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_17 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-family: 'Times New Roman', serif;
  font-size: 1.33333em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 18pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_18 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-family: serif;
  font-size: 1.5em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 14.2pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_19 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-size: 1.88889em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 19.9pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_20 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-family: serif;
  font-size: 1.5em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 14.4pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_21 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-family: serif;
  font-size: 1.5em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 12.7pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_22 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-family: serif;
  font-size: 1.5em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 12.7pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-before: always;
  text-align: left;
  text-indent: 0;
}
.block_23 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-family: 'Arial Unicode MS', serif;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_24 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 72.5pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-before: always;
  text-align: left;
  text-indent: 0;
}
.block_25 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-family: 'Times New Roman', serif;
  font-size: 1.33333em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 33.4pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_26 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-family: 'Arial Unicode MS', serif;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 14.2pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-before: always;
  text-align: left;
  text-indent: 0;
}
.block_27 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 471pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-before: always;
  text-align: left;
  text-indent: 0;
}
.block_28 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-size: 1.88889em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_29 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-family: serif;
  font-size: 1.5em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 13pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_30 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-size: 2.22222em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_31 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-family: 'Times New Roman', serif;
  font-size: 1.33333em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_32 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-family: 'Arial Unicode MS', serif;
  font-size: 1.5em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_33 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-family: serif;
  font-size: 1.5em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_34 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-family: 'Times New Roman', serif;
  font-size: 1.33333em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 36.2pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_35 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-family: 'Arial Unicode MS', serif;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 14.4pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_36 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-family: 'Arial Unicode MS', serif;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 12.7pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_37 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-family: 'Arial Unicode MS', serif;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 19.7pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-before: always;
  text-align: left;
  text-indent: 0;
}
.block_38 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 105pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-before: always;
  text-align: left;
  text-indent: 0;
}
.block_39 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-family: 'Arial Unicode MS', serif;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-before: always;
  text-align: left;
  text-indent: 0;
}
.block_40 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-family: 'Arial Unicode MS', serif;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 3.12pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_41 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-family: serif;
  font-size: 1.5em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 34.8pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_42 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-family: 'Arial Unicode MS', serif;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 13pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_43 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-family: serif;
  font-size: 1.33333em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 18pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_44 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-size: 1.88889em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 19.7pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_45 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 33.6pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_46 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-family: 'Arial Unicode MS', serif;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 14.2pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_47 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 451pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_48 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-family: 'Times New Roman', serif;
  font-size: 1.33333em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 34.1pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_49 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 47.8pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_50 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-family: 'Arial Unicode MS', serif;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 34.8pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_51 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-family: 'Times New Roman', serif;
  font-size: 1.33333em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 18.2pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_52 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 14.2pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_53 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-size: 1.88889em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 20.2pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_54 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 52.8pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_55 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-family: serif;
  font-size: 1.5em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 14.2pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-before: always;
  text-align: left;
  text-indent: 0;
}
.block_56 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-family: 'Times New Roman', serif;
  font-size: 1.33333em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 24pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-before: always;
  text-align: left;
  text-indent: 0;
}
.block_57 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 316pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_58 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-family: 'Times New Roman', serif;
  font-size: 1.33333em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 17.8pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify;
  text-indent: 0;
}
.block_59 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 60.5pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_60 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-size: 1.88889em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 42.7pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_61 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 40.8pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_62 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-family: 'Times New Roman', serif;
  font-size: 1.33333em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 42.2pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_63 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 118pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-before: always;
  text-align: left;
  text-indent: 0;
}
.block_64 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 44.6pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.block_65 {
  background-color: transparent;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 353pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-before: always;
  text-align: left;
  text-indent: 0;
}
.block_66 {
  background-color: transparent;
  display: block;
  font-family: serif;
  font-size: 1.5em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 13pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 0;
}
.calibre {
  color: #000;
  display: block;
  font-family: 'Arial', serif;
  font-size: 0.75em;
  margin-bottom: 0;
  margin-left: 5pt;
  margin-right: 5pt;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
}
.calibre1 {
  font-size: 1em;
  line-height: 1.2;
  vertical-align: super;
}
.calibre2 {
  font-size: 1em;
  line-height: 1.2;
  vertical-align: sub;
}
.text_ {
  background-color: transparent;
  font-size: 0.66667em;
}
.text_1 {
  background-color: transparent;
  font-size: 1.77778em;
  line-height: 1.2;
}
.text_2 {
  background-color: transparent;
  font-family: 'Arial Unicode MS', serif;
  font-size: 0.66667em;
}
.text_3 {
  background-color: transparent;
  font-family: 'Arial', serif;
  font-size: 0.51852em;
}
.text_4 {
  background-color: transparent;
  font-family: 'Arial Unicode MS', serif;
  font-size: 1.25926em;
  line-height: 1.2;
}
.text_5 {
  background-color: transparent;
  font-size: 1.25926em;
  line-height: 1.2;
}
.text_6 {
  background-color: transparent;
  font-family: 'Times New Roman', serif;
  font-size: 0.88889em;
  line-height: 1.2;
}
.text_7 {
  background-color: transparent;
  font-family: 'Times New Roman', serif;
  line-height: 1.2;
}
.text_8 {
  background-color: transparent;
  font-family: 'Arial Unicode MS', serif;
  line-height: 1.2;
}
.text_9 {
  background-color: transparent;
  font-family: 'Arial', serif;
  font-size: 0.66667em;
}
.text_10 {
  background-color: transparent;
  font-family: 'Arial', serif;
  font-size: 1.25926em;
  font-style: italic;
  line-height: 1.2;
}
.text_11 {
  background-color: transparent;
  font-family: 'Arial Unicode MS', serif;
  font-size: 0.88889em;
  line-height: 1.2;
}
.text_12 {
  background-color: transparent;
  font-family: 'Arial', serif;
  font-size: 0.66667em;
  font-style: italic;
}
