@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ececec !important;
  line-height: 1.5rem !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Guidelines */
.content {
  padding-left: 0.5rem;
  margin-bottom: 5rem;
}
.content ul {
  margin-left: 1rem;
}
.principle ul li {
  margin: 0.5rem 0;
}
.content div ul li {
  margin: 0.2rem 0;
  font-size: 0.95rem;
}
.large-heading {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2rem;
}
.heading,
.large-heading {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.heading {
  font-size: 1.5rem;
  /* font-weight: 400; */
  line-height: 2rem;
}
.sub-heading {
  font-size: 1.35rem;
  font-weight: 400;
  line-height: 1.75rem;
  margin-top: 5rem;
}
.bold-heading {
  font-size: 1rem;
  font-weight: 700;
}
.text {
  margin: 1.6rem 2rem 1.5rem 0;
  font-size: 0.95rem;
}
.blue-text {
  color: #0033ff;
}
.content li {
  margin: '2rem auto';
}

.gray-text {
  color: gray;
}
.capital {
  text-transform: uppercase;
}

.warning-msg {
  height: 3.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #bf360c;
  background-color: #feefe3;
}

.warning-msg i {
  padding-left: 3rem;
}
.warning-msg p {
  font-size: 0.87rem;
  margin-top: 1rem;
  margin-left: 0.8rem;
  font-weight: 400;
}
.second-warning {
  text-align: center;
  color: rgb(230, 16, 16);
  margin: 1.5rem auto;
}

/* Right sidebar (contents) */
.active-right-sidebar {
  color: #1967d2;
  font-weight: 400;
  transition: 0.5s ease-out;
}

#difficult-utterance,
#aggreed-spelling,
#punctuation,
#format,
#fragment-vrsus-sentences,
#commas,
#intonation-marks,
#colon-and-quotation,
#other-symbols,
#spoken-punctuation,
#typo,
#context-error,
#adding-missing-words,
#substitution,
#spacing,
#unintelligible-or-foreign-or-singing,
#segmentation,
#speaker-labeling,
#audio-labels,
#pii,
#number,
#currency-and-unit,
#date-and-time,
#address,
#web,
#abbreviation,
/*  */
#skipping-a-prompt,
#hesitations-and-truncations,
#background-and-foreground-speech,
#foreign-language,
#accents,
/*  */ 

#spelling-out,
#interjection,
#brand-and-product,
#media-title,
#multiple-spelling,
/*  */
#examples-explained,
#transcription-tips,
#how-to-spell,
#understand-everything,
#about-locations,
#changelog {
  scroll-margin-top: 75px;
}

/* Active sidebar menu */
.activeSidebarMenu {
  color: #1967d2 !important;
  font-weight: 600;
}

.version-link {
  text-decoration: none;
  color: #1967d2;
}

.table {
  width: 100%;
}
.table th,
.table td {
  border-bottom: 1px solid #ddd !important;
}
